# Application General Configuration
NEXT_PUBLIC_APP_NAME=Antigravity Platform
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_ENV=development

# API Configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api/v1
NEXT_PUBLIC_API_TIMEOUT=15000

# Multi-Tenant & Routing Configuration
# Options for NEXT_PUBLIC_TENANT_MODE: subdomain | path | header
NEXT_PUBLIC_TENANT_MODE=subdomain
NEXT_PUBLIC_ROOT_DOMAIN=localhost:3000

# Security & Session Configuration
NEXT_PUBLIC_AUTH_COOKIE_NAME=ag_auth_token
